meta(charset="utf-8")

title
  block title
  = " - PRISM Break"

meta(name="viewport" content="width=device-width, initial-scale=1.0")

meta(name="description" content=t['meta-description'])

meta(name="author" content="Peng Zhong")

link(rel="stylesheet", href=routes.css)

link(rel="apple-touch-icon-precomposed" sizes="144x144" href=`${routes.icons}apple-touch-icon-144-precomposed.png`)

link(rel="apple-touch-icon-precomposed" sizes="114x114" href=`${routes.icons}apple-touch-icon-114-precomposed.png`)

link(rel="apple-touch-icon-precomposed" sizes="72x72" href=`${routes.icons}apple-touch-icon-72-precomposed.png`)

link(rel="apple-touch-icon-precomposed" href=`${routes.icons}apple-touch-icon-57-precomposed.png`)

link(rel="shortcut icon" href=`${routes.icons}favicon.png`)

link(rel="icon" href=`${routes.icons}favicon.png`)
